
/* This stylesheet is only for the test page
so I can us it as a playground of sorts */


html {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(94, 94, 94);
    font-size: 14px;
}

h1,
h2,
h3 {
    text-align: center;
    width: auto;
    background-color: transparent;
}

h1 {
    height: 1rem;
    padding: 5rem;
    font-weight: 700;
    color: rgb(167, 255, 154);
}

h2 {

    height: 3rem;
    padding: 2rem;
    font-weight: 700;
    color: rgb(167, 255, 154);
}

h3 {
    height: 2rem;
    padding: 1rem;
    font-weight: 550;
    color: rgb(94, 193, 109);
}

img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    border: 2px solid black;
}

.navigation {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

p {
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(204, 215, 192, 0.358);
}

.description {
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(204, 215, 192, 0.358);
    text-align: center;
    font-weight: 700;
    font-size: 16px
}

ul,
ol {
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(228, 240, 215, 0.358);
}

button {
    background-color: rgb(167, 255, 154);
    text-decoration: none;
    border: none;
    padding: 1rem;
    margin: 1rem;
    font-size: 16px;
    border: 1px solid black;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 600;
}

.container {
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    justify-content: center;
    gap: 20px
  }
  
.item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
}